@black-text: #363636;
@black: #292d30;
@blue: #059feb;
@white: #ffffff;

* {
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  font-family: "Panton black";
  color: @black-text;

  &-box {
    margin: 10px 173px;
  }
}
.video {
  max-width: 360px;

  p {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
  }
}
.callback {
  p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  a {
    font-size: 20px;
    border: 2px solid @black-text;
    padding: 6px 38px;
    background-color: inherit;
    border-radius: 15px;
    text-decoration: none;
    color: @black-text;
  }
}
.bottom-header {
  background-color: @black;
  .nav {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    &-btn {
      color: @white;
      font-size: 30px;
      font-weight: 100;
      padding-top: 30px;
      padding-bottom: 30px;
      cursor: pointer;
    }
  }
}
.main {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 1065px;
  text-align: center;
  margin-top: 0;
  color: @white;
  p {
    // margin-top: 0;
  }
  &-title {
    margin-top: 270px;
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 15px;
  }
  &-text {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  &-subtitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 85px;
  }
  &-watch {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &-btn {
    color: @white;
    background-color: @blue;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  &-scroll {
    margin-top: 150px;
  }
  &-mouse {
    width: 38px;
    color: @white;
    width: 38px;
  }
}
.task {
  text-align: center;
  color: @black-text;
  &-title {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 900;
  }
  &-line {
    height: 5px;
    width: 177px;
    background-color: @blue;
  }
  &-text {
    font-size: 24px;
    font-weight: 400;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
  &-box {
    display: flex;
    justify-content: space-around;
    &-item {
      margin: 0 40px;
      &-img {
        max-height: 130px;
      }
      max-width: 400px;
      &-title {
        font-size: 30px;
      }
      &-text {
        font-size: 18px;
      }
    }
  }
}
